
:root {
  --font-display-family: Black Ops One, system-ui, sans-serif;
  --font-body-family: Exo 2, system-ui, sans-serif;
  
  --font-display: var(--font-display-family);
  --font-body: var(--font-body-family);
}
