
:root {
  --background: #020617;
  --foreground: #f8fafc;
  --card: #0f172a;
  --card-foreground: #f8fafc;
  --popover: #0f172a;
  --popover-foreground: #f8fafc;
  --primary: #ccff00;
  --primary-foreground: var(--foreground);
  --secondary: #334155;
  --secondary-foreground: #f8fafc;
  --muted: #1e293b;
  --muted-foreground: #94a3b8;
  --accent: #ccff00;
  --accent-foreground: var(--foreground);
  --destructive: #ef4444;
  --destructive-foreground: #f8fafc;
  --border: #1e293b;
  --input: #1e293b;
  --ring: #ccff00;
  --radius: 0.25rem;
  --chart-1: #ccff00;
  --chart-2: #84cc16;
  --chart-3: #64748b;
  --chart-4: #475569;
  --chart-5: #334155;
  --sidebar: #0f172a;
  --sidebar-foreground: #f8fafc;
  --sidebar-primary: #ccff00;
  --sidebar-primary-foreground: var(--foreground);
  --sidebar-accent: #1e293b;
  --sidebar-accent-foreground: #f8fafc;
  --sidebar-border: #1e293b;
  --sidebar-ring: #ccff00;
  --input-background: #2d2d2d;
  --switch-background: #cbced4;
  --font-size: 16px;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
}

.dark {
  --background: #020617;
  --foreground: #f8fafc;
  --card: #0f172a;
  --card-foreground: #f8fafc;
  --popover: #0f172a;
  --popover-foreground: #f8fafc;
  --primary: #ccff00;
  --primary-foreground: var(--foreground);
  --secondary: #334155;
  --secondary-foreground: #f8fafc;
  --muted: #1e293b;
  --muted-foreground: #94a3b8;
  --accent: #ccff00;
  --accent-foreground: var(--foreground);
  --destructive: #ef4444;
  --destructive-foreground: #f8fafc;
  --border: #1e293b;
  --input: #1e293b;
  --ring: #ccff00;
  --chart-1: #ccff00;
  --chart-2: #84cc16;
  --chart-3: #64748b;
  --chart-4: #475569;
  --chart-5: #334155;
  --sidebar: #0f172a;
  --sidebar-foreground: #f8fafc;
  --sidebar-primary: #ccff00;
  --sidebar-primary-foreground: var(--foreground);
  --sidebar-accent: #1e293b;
  --sidebar-accent-foreground: #f8fafc;
  --sidebar-border: #1e293b;
  --sidebar-ring: #ccff00;
}
